<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>温控仪.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED29B1F51EC05264007E5454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED29B20E1EC05265007E5454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED29B2191EC05265007E5454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
